<footer id='footer' class="footer">
    <div class=columns>
        <div class='left-column'>
            <ul class='contact'>
                <li><img src='/assets/img/footer_phone.svg' />
                    <p>{{site.data.global.footer.phone}}</p>
                </li>
                <li><img src='/assets/img/footer_mail.svg' />
                    <p>{{site.data.global.footer.email}}</p>
                </li>
            </ul>
        </div>
        <div class='right-column'>
            <div class='first-row'>
                <img src='/assets/img/footer_fb.svg' />
                <img src='/assets/img/footer_ig.svg' />
                <img src='/assets/img/footer_wesele.svg' />
                <img src='/assets/img/footer_vimeo.svg' />
            </div>
            <div class='second-row'>
                <p>{{site.data.global.footer.copyrights}}</p>
            </div>
        </div>
    </div>
</footer>