<div class='mobileMenu-wrapper' id='mobileMenu'>
    <div class='top'>
        <div class='btn-wrapper'>
            <button class='close' id='mobile-close'>
                <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M9.65239 8.1317C9.26186 7.74118 8.6287 7.74118 8.23817 8.1317C7.84765 8.52222 7.84765 9.15539 8.23817 9.54591L14.9557 16.2634L8.23817 22.9809C7.84765 23.3715 7.84765 24.0046 8.23817 24.3952C8.6287 24.7857 9.26186 24.7857 9.65239 24.3952L16.3699 17.6776L23.0874 24.3952C23.4779 24.7857 24.1111 24.7857 24.5016 24.3952C24.8922 24.0046 24.8922 23.3715 24.5016 22.9809L17.7841 16.2634L24.5016 9.54591C24.8922 9.15539 24.8922 8.52222 24.5016 8.1317C24.1111 7.74118 23.4779 7.74118 23.0874 8.1317L16.3699 14.8492L9.65239 8.1317Z"
                        fill="#DBDDE0" />
                </svg>
            </button>
        </div>
        <nav class='mobileMenu'>
            <ul>
                <li>
                    <a class='active' href='/'>O nas <img class='star' src='/assets/img/star.svg' />
                    </a>
                </li>
                <li>
                    <a href='/'>Spełnione Marzenia <img class='star' src='/assets/img/star.svg' />
                    </a>
                </li>
                <li>
                    <a href='/'>Oferta <img class='star' src='/assets/img/star.svg' />
                    </a>
                </li>
                <li>
                    <a href='/'>Blog <img class='star' src='/assets/img/star.svg' />
                    </a>
                </li>
                <li>
                    <a href='/'>Kontakt <img class='star' src='/assets/img/star.svg' />
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class='logo-wrapper'>
        <img src='/assets/img/mobileMenu_logo.jpg' />
    </div>

</div>