---
---

<link rel='stylesheet' type='text/css' href="{{ site.baseUrl }}/assets/css/styles.css">

{% include header.html %}

<div class='hero-image' style='background-image: url(/assets/img/hero_image.jpg)'>
    <div class='svg-wrapper'>
        <svg width="129" height="113" viewBox="0 0 25 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g filter="url(#filter0_d)">
                <path d="M51.6729 48.4785L64.1728 56.8118L76.6729 48.4785" stroke="#DBB64D" stroke-width="3"
                    stroke-linecap="round" stroke-linejoin="round" />
            </g>
            <defs>
                <filter id="filter0_d" x="0.172852" y="0.978394" width="25" height="8" filterUnits="userSpaceOnUse"
                    color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                    <feOffset dy="4" />
                    <feGaussianBlur stdDeviation="25" />
                    <feColorMatrix type="matrix"
                        values="0 0 0 0 0.0705882 0 0 0 0 0.117647 0 0 0 0 0.188235 0 0 0 1 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
                </filter>
            </defs>
        </svg>
        <svg width="129" height="113" viewBox="0 0 129 113" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g filter="url(#filter0_d)">
                <path d="M51.6729 48.4785L64.1728 56.8118L76.6729 48.4785" stroke="#DBB64D" stroke-width="3"
                    stroke-linecap="round" stroke-linejoin="round" />
            </g>
            <defs>
                <filter id="filter0_d" x="0.172852" y="0.978394" width="128" height="111.333"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                    <feOffset dy="4" />
                    <feGaussianBlur stdDeviation="25" />
                    <feColorMatrix type="matrix"
                        values="0 0 0 0 0.0705882 0 0 0 0 0.117647 0 0 0 0 0.188235 0 0 0 1 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
                </filter>
            </defs>
        </svg>
    </div>
</div>
<section class='white-section'>
    <header class='section-header'>
        <div class='decoration-wrapper' style='background-image: url(/assets/img/oneGoldStripe.svg)'>
            <!-- <img src='/assets/img/gold_stripe.svg' /> -->
        </div>
        <div class='section-title'>
            <h2 class='title'>kim jesteśmy?</h2>
            <div class='stars'>
                <img src='/assets/img/stars.svg' />
            </div>
        </div>
    </header>
    <div class='content'>
        <div class='photo-wrapper'>
            <img src='/assets/img/teamPhoto.jpg' />
            <img class='rect rect-1' src='/assets/img/teamPhotoRect.svg' />
            <img class='rect rect-2' src='/assets/img/teamPhotoRect2.svg' />
        </div>
        <div class='description'>
            <h3 class='title'>Architekci marzeń to my!</h3>
            <p class='text'>Naszą pasją są detale – te drobne elementy, które nadają otaczającej nas rzeczywistości jej
                wyjątkowego
                charakteru.
                To właśnie dzięki nim efekt końcowy naszych prac jest niezwykły. Idealne pod każdym względem video,
                przekazujące emocje fotografie, czy dopracowany najmniejszy element drinka, przygotują dla Ciebie
                Architekci Marzeń. W naszą pracę
                wkładamy całe serce.
            </p>
            <div class=btn-wrapper>
                <a class='btn btn-gold' href='/'>Poznaj ekipe marzeń <svg width="31" height="8" viewBox="0 0 31 8"
                        fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M30.5523 4.18217C30.7475 3.98691 30.7475 3.67032 30.5523 3.47506L27.3703 0.293082C27.175 0.0978195 26.8585 0.0978195 26.6632 0.293082C26.4679 0.488344 26.4679 0.804926 26.6632 1.00019L29.4916 3.82862L26.6632 6.65704C26.4679 6.8523 26.4679 7.16889 26.6632 7.36415C26.8585 7.55941 27.175 7.55941 27.3703 7.36415L30.5523 4.18217ZM0.19873 4.32861L30.1987 4.32862L30.1987 3.32862L0.198731 3.32861L0.19873 4.32861Z"
                            fill="white" />
                    </svg></a>
            </div>
        </div>
    </div>
</section>
<section class='whatWeDid' style='background-image: url(/assets/img/Ola&PiotrFilter.jpg)'>
    <ul>

        <li class='perks'>
            <img src='/assets/img/camera.svg' />
            <p class='counter'>108</p>
            <p class='name'>zrealizowanych filmów</p>
        </li>
        <li class='perks'>
            <img src='/assets/img/photo.svg' />
            <p class='counter'>119</p>
            <p class='name'>wyjątkowych reportaży ślubnych</p>
        </li>
        <li class='perks'>
            <img src='/assets/img/clients.svg' />
            <p class='counter'>248</p>
            <p class='name'>zadowolonych klientów</p>
        </li>
        <li class='perks'>
            <img src='/assets/img/hours.svg' />
            <p class='counter'>6914 h</p>
            <p class='name'>spędzone na realizacji Waszych marzeń</p>
        </li>
    </ul>
</section>
<section class='dreams'>
    <header class='section-header'>
        <div class='decoration-wrapper' style='background-image: url(/assets/img/oneGoldStripe.svg)'>
            <!-- <img src='/assets/img/gold_stripe.svg' /> -->
        </div>
        <div class='section-title'>
            <h2 class='title'>Spełnione marzenia</h2>
            <div class='stars'>
                <img src='/assets/img/stars.svg' />
            </div>
        </div>
    </header>
    <div class='img-wrapper'>
        <div class='first-row'>
            <div class='left-column column'>
                <div class='image-wrapper'>
                    <img class='image-holder first-image' src='/assets/img/photo_1.jpg'>
                    <div class='layer-wrapper'>
                        <p class='title'>Aleksandra i Przemysław</p>
                        <div class='svg-wrapper'>
                            <img src='/assets/img/gallery_hover_1.svg' />
                            <img src='/assets/img/gallery_hover_2.svg' />
                            <img src='/assets/img/gallery_hover_3.svg' />
                        </div>
                        <a class='btn transparent' href='/'>Poznaj ich historie <svg width="31" height="8"
                                viewBox="0 0 31 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M30.7767 4.60124C30.9719 4.40597 30.9719 4.08939 30.7767 3.89413L27.5947 0.712149C27.3994 0.516887 27.0828 0.516887 26.8876 0.712149C26.6923 0.907411 26.6923 1.22399 26.8876 1.41926L29.716 4.24768L26.8876 7.07611C26.6923 7.27137 26.6923 7.58795 26.8876 7.78322C27.0828 7.97848 27.3994 7.97848 27.5947 7.78322L30.7767 4.60124ZM0.423096 4.74768L30.4231 4.74768L30.4231 3.74768L0.423096 3.74768L0.423096 4.74768Z"
                                    fill="#DBB64D" />
                            </svg>
                        </a>
                    </div>
                </div>
                <div class='bottom-row'>
                    <div class='image-wrapper first-image'>
                        <img class='image-holder first-image' src='/assets/img/photo_2.jpg'>
                        <div class='layer-wrapper'>
                            <p class='title'>Aleksandra i Przemysław</p>
                            <div class='svg-wrapper'>
                                <img src='/assets/img/gallery_hover_1.svg' />
                                <img src='/assets/img/gallery_hover_2.svg' />
                                <img src='/assets/img/gallery_hover_3.svg' />
                            </div>
                            <a class='btn transparent' href='/'>Poznaj ich historie <svg width="31" height="8"
                                    viewBox="0 0 31 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M30.7767 4.60124C30.9719 4.40597 30.9719 4.08939 30.7767 3.89413L27.5947 0.712149C27.3994 0.516887 27.0828 0.516887 26.8876 0.712149C26.6923 0.907411 26.6923 1.22399 26.8876 1.41926L29.716 4.24768L26.8876 7.07611C26.6923 7.27137 26.6923 7.58795 26.8876 7.78322C27.0828 7.97848 27.3994 7.97848 27.5947 7.78322L30.7767 4.60124ZM0.423096 4.74768L30.4231 4.74768L30.4231 3.74768L0.423096 3.74768L0.423096 4.74768Z"
                                        fill="#DBB64D" />
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class='image-wrapper'>
                        <img class='image-holder first-image' src='/assets/img/photo_3.jpg'>
                        <div class='layer-wrapper'>
                            <p class='title'>Aleksandra i Przemysław</p>
                            <div class='svg-wrapper'>
                                <img src='/assets/img/gallery_hover_1.svg' />
                                <img src='/assets/img/gallery_hover_2.svg' />
                                <img src='/assets/img/gallery_hover_3.svg' />
                            </div>
                            <a class='btn transparent' href='/'>Poznaj ich historie <svg width="31" height="8"
                                    viewBox="0 0 31 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M30.7767 4.60124C30.9719 4.40597 30.9719 4.08939 30.7767 3.89413L27.5947 0.712149C27.3994 0.516887 27.0828 0.516887 26.8876 0.712149C26.6923 0.907411 26.6923 1.22399 26.8876 1.41926L29.716 4.24768L26.8876 7.07611C26.6923 7.27137 26.6923 7.58795 26.8876 7.78322C27.0828 7.97848 27.3994 7.97848 27.5947 7.78322L30.7767 4.60124ZM0.423096 4.74768L30.4231 4.74768L30.4231 3.74768L0.423096 3.74768L0.423096 4.74768Z"
                                        fill="#DBB64D" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class='right-column column'>
                <div class='image-wrapper first-image'>
                    <img class='image-holder first-image' src='/assets/img/photo_4.jpg'>
                    <div class='layer-wrapper'>
                        <p class='title'>Aleksandra i Przemysław</p>
                        <div class='svg-wrapper'>
                            <img src='/assets/img/gallery_hover_1.svg' />
                            <img src='/assets/img/gallery_hover_2.svg' />
                            <img src='/assets/img/gallery_hover_3.svg' />
                        </div>
                        <a class='btn transparent' href='/'>Poznaj ich historie <svg width="31" height="8"
                                viewBox="0 0 31 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M30.7767 4.60124C30.9719 4.40597 30.9719 4.08939 30.7767 3.89413L27.5947 0.712149C27.3994 0.516887 27.0828 0.516887 26.8876 0.712149C26.6923 0.907411 26.6923 1.22399 26.8876 1.41926L29.716 4.24768L26.8876 7.07611C26.6923 7.27137 26.6923 7.58795 26.8876 7.78322C27.0828 7.97848 27.3994 7.97848 27.5947 7.78322L30.7767 4.60124ZM0.423096 4.74768L30.4231 4.74768L30.4231 3.74768L0.423096 3.74768L0.423096 4.74768Z"
                                    fill="#DBB64D" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class='second-row'>
            <a class='movie' href='/'>
                <div class='image-holder' style='background-image: url(/assets/img/movie_1.jpg)'>
                    <svg width="81" height="81" viewBox="0 0 81 81" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g opacity="0.7">
                            <circle cx="40.5303" cy="40.4912" r="38.5" stroke="white" stroke-width="3" />
                            <path d="M63.335 40.4912L29.1282 60.2405L29.1282 20.7419L63.335 40.4912Z" fill="white" />
                        </g>
                    </svg>
                </div>
            </a>
            <a class='movie' href='/'>
                <div class='image-holder' style='background-image: url(/assets/img/movie_1.jpg)'>
                    <svg width="81" height="81" viewBox="0 0 81 81" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g opacity="0.7">
                            <circle cx="40.5303" cy="40.4912" r="38.5" stroke="white" stroke-width="3" />
                            <path d="M63.335 40.4912L29.1282 60.2405L29.1282 20.7419L63.335 40.4912Z" fill="white" />
                        </g>
                    </svg>
                </div>
            </a>
            <a class='movie' href='/'>
                <div class='image-holder' style='background-image: url(/assets/img/movie_1.jpg)'>
                    <svg width="81" height="81" viewBox="0 0 81 81" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g opacity="0.7">
                            <circle cx="40.5303" cy="40.4912" r="38.5" stroke="white" stroke-width="3" />
                            <path d="M63.335 40.4912L29.1282 60.2405L29.1282 20.7419L63.335 40.4912Z" fill="white" />
                        </g>
                    </svg>
                </div>
            </a>
            <a class='movie last-child' href='/'>
                <div class='image-holder' style='background-image: url(/assets/img/movie_1.jpg)'>
                    <svg width="81" height="81" viewBox="0 0 81 81" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g opacity="0.7">
                            <circle cx="40.5303" cy="40.4912" r="38.5" stroke="white" stroke-width="3" />
                            <path d="M63.335 40.4912L29.1282 60.2405L29.1282 20.7419L63.335 40.4912Z" fill="white" />
                        </g>
                    </svg>
                </div>
            </a>
        </div>
    </div>
    <div class='btn-wrapper'>
        <a class='btn btn-gold' href='/'>Zobacz portfolio <svg width="31" height="8" viewBox="0 0 31 8" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M30.5523 4.18217C30.7475 3.98691 30.7475 3.67032 30.5523 3.47506L27.3703 0.293082C27.175 0.0978195 26.8585 0.0978195 26.6632 0.293082C26.4679 0.488344 26.4679 0.804926 26.6632 1.00019L29.4916 3.82862L26.6632 6.65704C26.4679 6.8523 26.4679 7.16889 26.6632 7.36415C26.8585 7.55941 27.175 7.55941 27.3703 7.36415L30.5523 4.18217ZM0.19873 4.32861L30.1987 4.32862L30.1987 3.32862L0.198731 3.32861L0.19873 4.32861Z"
                    fill="white" />
            </svg></a>
    </div>
</section>
<section class='offer'>
    <header class='section-header'>
        <div class='decoration-wrapper' style='background-image: url(/assets/img/oneGoldStripe.svg)'>
            <!-- <img src='/assets/img/gold_stripe.svg' /> -->
        </div>
        <div class='section-title'>
            <h2 class='title'>Oferta</h2>
            <div class='stars'>
                <img src='/assets/img/stars.svg' />
            </div>
        </div>
    </header>
    <div class='columns-wrapper'>
        <div class='column left-column'>
            <div class='column-header'>
                <div class='text'>
                    <p class='title'>Video</p>
                    <p class='description'>Oferujemy:</p>
                </div>
                <img src='/assets/img/camera_angle.svg' />
            </div>
            <ul>
                <li>
                    <p class='title'> <img class='star' src='/assets/img/star.svg' />
                        50-60 minut</p>
                    <p class='description'>
                        Główny film zawierający najważniejsze momenty
                    </p>
                </li>
                <li>
                    <p class='title'> <img class='star' src='/assets/img/star.svg' />
                        12-15 minut</p>
                    <p class='description'>
                        Krótszy film zawierający najważniejsze momenty
                    </p>
                </li>
                <li>
                    <p class='title'> <img class='star' src='/assets/img/star.svg' />
                        3-4 minuty</p>
                    <p class='description'>
                        Teledysk ślubny
                    </p>
                </li>
                <li>
                    <p class='title'> <img class='star' src='/assets/img/star.svg' />
                        DRON</p>
                    <p class='description'>
                        Ujęcia z drona w pakiecie
                    </p>
                </li>
            </ul>
        </div>

        <div class='column left-column'>
            <div class='column-header'>
                <div class='text'>
                    <p class='title'>Foto</p>
                    <p class='description'>Oferujemy:</p>
                </div>
                <img src='/assets/img/photo_angle.svg' />
            </div>
            <ul>
                <li>
                    <p class='title'> <img class='star' src='/assets/img/star.svg' />
                        min. 350 zdjęć</p>
                    <p class='description'>
                        Główny film zawierający najważniejsze momenty
                    </p>
                </li>
                <li>
                    <p class='title'> <img class='star' src='/assets/img/star.svg' />
                        50 odbitek</p>
                    <p class='description'>
                        Krótszy film zawierający najważniejsze momenty
                    </p>
                </li>
                <li>
                    <p class='title'> <img class='star' src='/assets/img/star.svg' />
                        fotoksiązka 30x30cm</p>
                    <p class='description'>
                        Teledysk ślubny
                    </p>
                </li>
                <li>
                    <p class='title'> <img class='star' src='/assets/img/star.svg' />
                        80 zdjęć</p>
                    <p class='description'>
                        Ujęcia z drona w pakiecie
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class='info-bar'>
        <p>Filmy i zdjęcia oddajemy na drewnianym pendrive w firmowym pudełku</p>
    </div>
    <div class='wedding-date'>
        <div class='wedding-date-header'>
            <img class='star' src='/assets/img/silver_stars.svg' />
            <div class='text'>
                <p class='title'>Podaj datę swojego ślubu</p>
                <p class='description'>Pragniemy dostosować ofertę do Twoich oczekiwań. Wypełnij formularz, następnie
                    wyślemy Ci pełną ofertę.</p>
            </div>
        </div>
        <div class='btn-wrapper'>
            <a class='btn btn-gold' href='/'>Zobacz portfolio <svg width="31" height="8" viewBox="0 0 31 8" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M30.5523 4.18217C30.7475 3.98691 30.7475 3.67032 30.5523 3.47506L27.3703 0.293082C27.175 0.0978195 26.8585 0.0978195 26.6632 0.293082C26.4679 0.488344 26.4679 0.804926 26.6632 1.00019L29.4916 3.82862L26.6632 6.65704C26.4679 6.8523 26.4679 7.16889 26.6632 7.36415C26.8585 7.55941 27.175 7.55941 27.3703 7.36415L30.5523 4.18217ZM0.19873 4.32861L30.1987 4.32862L30.1987 3.32862L0.198731 3.32861L0.19873 4.32861Z"
                        fill="white" />
                </svg></a>
        </div>
    </div>
</section>
<section class='happy-clients'>
    <header class='section-header'>
        <div class='decoration-wrapper' style='background-image: url(/assets/img/oneGoldStripe.svg)'>
            <!-- <img src='/assets/img/gold_stripe.svg' /> -->
        </div>
        <div class='section-title'>
            <h2 class='title'>Zadowoleni klienci</h2>
            <div class='stars'>
                <img src='/assets/img/stars.svg' />
            </div>
        </div>
    </header>
    <div class='columns'>
        <div class='left-column'>
            <img src='/assets/img/pics.jpg' />

        </div>
        <div class='right-column'>
            <p class='name'>Alicja & Przemyslaw</p>
            <p class='date'>20-08-2020</p>
            <p class='title'>Architekci Marzeń są najlepsi</p>
            <p class='content'>Architekci Marzeń uwiecznili nasz ślub i to w bardzo nietypowych, pandemicznych
                okolicznościach. Mimo tego wszystko wyszło tak, jak tylko mogliśmy sobie wymarzyć. Niesamowicie
                klimatyczne ujęcia, nastrojowa muzyka i świetna współpraca nad ostatecznym kształtem materiałów. Z
                całego serca polecamy! :)
            </p>
            <div class='pagination'>
                <ol>
                    <li><a class='arrow-left'>
                            <svg width="31" height="9" viewBox="0 0 31 9" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M0.146444 4.71879C-0.0488167 4.52353 -0.0488167 4.20695 0.146444 4.01168L3.32842 0.829703C3.52369 0.634441 3.84027 0.634441 4.03553 0.829703C4.23079 1.02496 4.23079 1.34155 4.03553 1.53681L1.20711 4.36524L4.03553 7.19366C4.2308 7.38893 4.2308 7.70551 4.03553 7.90077C3.84027 8.09603 3.52369 8.09603 3.32842 7.90077L0.146444 4.71879ZM30.5 4.86523L0.499998 4.86524L0.499998 3.86524L30.5 3.86523L30.5 4.86523Z"
                                    fill="#01050C" />
                            </svg>
                        </a></li>
                    <li><a class='pagination-item active'>1</a></li>
                    <li><a class='pagination-item'>2</a></li>
                    <li><a class='pagination-item'>3</a></li>
                    <li><a class='arrow-right'>
                            <svg width="31" height="9" viewBox="0 0 31 9" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M30.8536 4.71879C31.0488 4.52353 31.0488 4.20695 30.8536 4.01168L27.6716 0.829703C27.4763 0.634441 27.1597 0.634441 26.9645 0.829703C26.7692 1.02496 26.7692 1.34155 26.9645 1.53681L29.7929 4.36524L26.9645 7.19366C26.7692 7.38893 26.7692 7.70551 26.9645 7.90077C27.1597 8.09603 27.4763 8.09603 27.6716 7.90077L30.8536 4.71879ZM0.5 4.86523L30.5 4.86524L30.5 3.86524L0.5 3.86523L0.5 4.86523Z"
                                    fill="#01050C" />
                            </svg>
                        </a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class='blog'>
    <header class='section-header'>
        <div class='decoration-wrapper' style='background-image: url(/assets/img/oneGoldStripe.svg)'>
            <!-- <img src='/assets/img/gold_stripe.svg' /> -->
        </div>
        <div class='section-title'>
            <h2 class='title'>Blog ślubny</h2>
            <div class='stars'>
                <img src='/assets/img/stars.svg' />
            </div>
        </div>
    </header>
    <div class='posts-wrapper'>
        <div class='post-card'>
            <div class='img-wrapper' style='background-image: url(/assets/img/blog_card_img.jpg)'>
                <p class='date'><img src='/assets/img/stars_blog_post.svg' /> 20 sierpnia 2020</p>
            </div>
            <p class='title'>Masz już wódkę weselną? Najlepsza wódka weselna 2020</p>
            <p class='description'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <div class='post-card'>
            <div class='img-wrapper' style='background-image: url(/assets/img/blog_card_img.jpg)'>
                <p class='date'><img src='/assets/img/stars_blog_post.svg' /> 20 sierpnia 2020</p>
            </div>
            <p class='title'>Masz już wódkę weselną? Najlepsza wódka weselna 2020</p>
            <p class='description'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <div class='post-card'>
            <div class='img-wrapper' style='background-image: url(/assets/img/blog_card_img.jpg)'>
                <p class='date'><img src='/assets/img/stars_blog_post.svg' /> 20 sierpnia 2020</p>
            </div>
            <p class='title'>Masz już wódkę weselną? Najlepsza wódka weselna 2020</p>
            <p class='description'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
    </div>
    <div class='btn-wrapper'>
        <a class='btn btn-gold' href='/'>Przejdź do bloga <svg width="31" height="8" viewBox="0 0 31 8" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M30.5523 4.18217C30.7475 3.98691 30.7475 3.67032 30.5523 3.47506L27.3703 0.293082C27.175 0.0978195 26.8585 0.0978195 26.6632 0.293082C26.4679 0.488344 26.4679 0.804926 26.6632 1.00019L29.4916 3.82862L26.6632 6.65704C26.4679 6.8523 26.4679 7.16889 26.6632 7.36415C26.8585 7.55941 27.175 7.55941 27.3703 7.36415L30.5523 4.18217ZM0.19873 4.32861L30.1987 4.32862L30.1987 3.32862L0.198731 3.32861L0.19873 4.32861Z"
                    fill="white" />
            </svg></a>
    </div>
</section>

{% include footer.html %}